<h1>Listing Organizations</h1>

<table class="table table-bordered table-responsive-md table-striped text-center">
  <thead>
    <tr>
      <th class="text-center">Name</th>
      <th class="text-center">Location</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name,organization.website ,:target => '_blank' %></td>
        <td><%= organization.location.name rescue ""%></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
